<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" routerLink="/books">Any Time Library</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li style="cursor:pointer;" routerLinkActive="active"><a routerLink="/books">Home</a></li>
        <li *ngIf = "authService.isAuthenticated()" routerLinkActive="active" style="cursor:pointer;"><a routerLink="/borrowed">Your books</a></li>
        <li *ngIf="authService.isAdmin" routerLinkActive="active"style="cursor:pointer;"><a routerLink="/admin">Admin</a></li>
        <li *ngIf="authService.isAdmin" routerLinkActive="active"style="cursor:pointer;"><a routerLink="/usersbook">User Books</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf] = "!authService.isAuthenticated()">
          <li><a routerLink="/signup" style="cursor:pointer;"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a routerLink="/signin" style="cursor:pointer;" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ng-template>
          <li><a style="cursor:pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
